* {
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
}


/* nav bar header */
header {
    padding-top: 0;
    padding-bottom:0;
    background-color: #6A0136;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.name {
    color: white;
    grid-row: 1/3;
    display: flex; 
    gap: 3%;
    justify-content: center;
    align-items: center;
}


section #title h1 {
  margin: 0;
}

.logo_header {
    width: 80%;
    height: 68%;
    border-radius: .25rem;
}

nav {
    position: absolute; 
    right: 0px;
    top: 4.5rem;
}

.nav button {
    background: transparent;
    border: none;
    font-size: 3rem;
    color: #AAAAA0; 
    width: 120px;
}

nav ul {
    display: none; 
    list-style-type: none;
    flex-direction: column;  
}

nav ul.open {
    display: flex;
}

nav ul li {  
    text-decoration: none;
    list-style-type: none;
    background-color: #EFDC14;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.75rem;
    color: white;
}

#date {
    display: none;
}

.social {
    grid-column: 4/6;
    grid-row: 1/2;
    display: flex;  
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}


.social img {
    width: 70%;
    border-radius: 2rem;   
}

.table {
    display:none;
}


table tr {
    display: flex;
    flex-direction: column;
}

table tr:nth-child(odd) {
    background: #8686752a;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 2rem;
}

#gridButton {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: .25rem;
    font-size: 2.5rem;
    color:#AAAAA0;
}

#tableButton {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: .25rem;
    font-size: 2.5rem;
    color:#AAAAA0;
}

/* footer */
footer {
    display: flex;
    background-color: #6A0136;
    text-align: center;
    color:aliceblue;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

#address h3 {
    margin-bottom: 20px;
}

#address h4 {
    font-size: 10px;
    font-family: 'Merriweather Sans', sans-serif; 
}

 #contact_info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10px;
 }

 #wdd230_info {
    font-size: 10px;
    margin-top: 5px;;
 }

.logo_footer {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 15%;
    border-radius: .25rem;
}

.img_map {
    width: 29.25px;
    height: 25px;
    display: inline;
    margin-top: 5px;
}


/* javascript code for async and await */
.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid black;
    background-color: white;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
    overflow-wrap: break-word;
    box-shadow: 5px 10px 8px 5px #888888;
}


@media only screen and (min-width: 670px) {
    nav {
        position: absolute; 
        right: 80px;
        top: 80px;  
    }

    .nav button {
        background: transparent;
        border: none;
        font-size: 3rem;
        color: #AAAAA0; 
        width: 120px; 
    }
    .logo_header {
        width: 100%;
        margin: 0;
        height: 6rem;
        border-radius: .5rem;   
    }
   
    #date {
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        color: white;
        justify-content: center;
        padding-top: .5rem;
    }

    table {
        margin: 0 auto;
        margin-top: 80px;
        width: 90%;
    }
    
    table tr:nth-child(odd) {
        background: #8686752a;
    }
    
    table tr {
        display: table-row;
    }          

    table, tr, td {
        border-collapse: collapse;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .logo_footer {
        border-radius: .25rem;
    }
}

/* large view nav bar header */
@media only screen and (min-width: 900px) {
    header {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: #6A0136;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .name {
        grid-column: 1/3;
        grid-row: 1/3;
        display: flex;
        gap: .5rem;
        padding-left: 1.5rem;
    }

    section #title h1 {
        margin: 0;
        font-size: 5rem;
    }
    
    section #title h3 {
        font-size: 1.5rem;
    }

    .logo_header {
        width: 100%;
        margin: 0;
        height: 6rem;
        border-radius: .5rem;    
    }

    a .photo_link {
        margin: 0;
    }
    
    nav {
        position: static;
    }

    
    nav #nav_menu {
        display: flex;
        padding-top: .5rem;
        justify-content: space-around;
    }
    
    .nav button {
        background: transparent;
        color: #AAAAA0;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        flex-direction: row;   
    }
    
    nav.open {
        display: block;
    }
    
    nav ul li {
        display: none;   
        text-decoration: none;
        list-style-type: none;
        background-color: #6A0136;
       
    }
    
    nav ul li a {
        text-decoration: none;
        font-size: 1.75rem;
        color: white;
        font-weight: 100;
    }
    
    
    #date {
        grid-column: 4/6;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 1.5rem;
        font-size: .25rem;
        color: white;
    }
    
    .social {
        grid-column: 3/4;
        grid-row: 2/3;
        display: flex;  
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }
    
    
    .social img {
        border-radius: 2rem;
        width: 2.25rem;  
    }
    
    .nav {
        display: inline;
        grid-column: 3/6;
        grid-row: 1/2; 
    }

    .nav button {
        display: none;
    }

    nav ul li {
        text-decoration: none;
        list-style-type: none;
        display: flex; 
    }

    nav ul li a:hover {
        background-color:#AAAAA0;
    }

    #date {
        grid-column: 4/6;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: right;
        padding-right: 1.5rem;
        font-size: 1rem;
        color: white;
    }

    /* table {
        margin: 0 auto;
        margin-top: 80px;
        width: 90%;
    }
    
    table tr:nth-child(odd) {
        background: #8686752a;
    }
    
    table, tr, td {
        border-collapse: collapse;
        padding-top: 1.5rem;
        padding-bottom: .5rem;
    } */

    /* large view footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logo_link {
        grid-column: 1/2;  
    }

    .logo_link img {
        height: 120px;
        width: 120px;
        margin-top: 18px;
        margin-bottom: -10px;
    }

    #address {
        grid-column: 2/3;
        margin-top: 40px; 
             
    }

    #address h3 {
        margin-bottom: 0; 
        font-size: 20px; 
    }

    #address h4 {
        margin-left:-50px;
        padding: 0;
        font-size: 15px;
    }

    #contact_info {
        margin-top: 50px;
        font-size: 15px;
    }

    #wdd230_info {
        grid-column: 1/4;
        grid-row: 2/3;
        font-size: 13px;
    }


}