@media only screen and (min-width: 900px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-gap:1%; */
    }

    #design-element01 {
        grid-column: 1/2;
        /* margin-right: auto; */
    }
        
    
        #design-element02 {
            grid-column: 2/3;
        }
        
    
        #design-element03 {
            grid-column: 3/4;  
            margin-right: 5%;
            /* margin-left: 5%; */
    }
}