@media only screen and (min-width: 770px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #design-element01 {
        grid-column: 1/2;
    }

    #design-element02 {
        grid-column: 2/3;
        margin-right: 5%;
    }

    #design-element03 {
        grid-column: 1/2; 
        margin-left: 5%; 
        /* margin-right: auto;  */
    }

    #heading {
        width: 100%;
    }
}