@media only screen and (min-width: 900px) {

    header {
        height: 150px;
    }

    #title h1 {
        font-size: 35px;
    }

    #title h3 {
        font-size: 25px;
    }

    nav ul {
        display: flex; 
        padding-top: 15px;
    }

    nav ul li {
        color:aliceblue;
    }
    
    nav ul li a {
        color: aliceblue;
        font-size: 20px;
        background-color:#6A0136;
        margin: 15px;
        border: none;
    }

    .social {
        order: 5;
    }

    nav button {
        display: none;
    }

    .social a img {
        height: 35px;
        margin-right: 10px;
    }

    .social img {
        flex-direction: row;
        padding: 5px;
        height: 5px;
        margin-right: 0px;
    }

    #date {
        font-size: 20px;
        margin-top: -30px;
    }

    .logo_header {
        height: 105px;
        width: 105px;
        /* padding-top: 3px; */
        margin-top: 10px;
     
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
    }

    #news_release {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        flex-direction: column;
        height: 100%;
    }

    .spotlight01 {
        height: 100%;
        
    }

    .spotlight02 {
        height: 100%;
        
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logo_link {
        grid-column: 1/2;  
    }

    .logo_link img {
        height: 120px;
        width: 120px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    #address {
        grid-column: 2/3;
        margin-top: 40px; 
             
    }

    #address h3 {
        margin-bottom: 0; 
        font-size: 20px; 
    }

    #address h4 {
        margin-left:-50px;
        padding: 0;
        font-size: 15px;
    }

    #contact_info {
        margin-top: 50px;
        font-size: 15px;
    }

    #wdd230_info {
        grid-column: 1/4;
        grid-row: 2/3;
        font-size: 13px;
    }

}