@media only screen and (min-width: 670px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
    }

    nav {
        position: absolute; 
        right: 80px;
        top: 80px;  
    }

    .nav button {
        background: transparent;
        border: none;
        font-size: 3rem;
        color: #AAAAA0; 
        width: 120px; 
    }
    .logo_header {
        width: 100%;
        margin: 0;
        height: 6rem;
        border-radius: .5rem;   
    }
   
    #hero {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    #news_release {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    .spotlights {
        grid-column: 1/5;
        grid-row: 3/4; 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;        
    }

    .spotlight01 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .spotlight02 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .join {
        display:block;
        grid-column: 1/5;
        grid-row: 4/5;
    }

    #event {
        grid-column: 1/4;
        grid-row: 5/6;
    
    }

    #oktuberfest {
        height: auto;
    }

    #weather {
        grid-column: 4/5;
        grid-row: 5/6;
    }

}

