@media only screen and (min-width: 770px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
        gap: 3px;
    }

    .social a img {
        height: 25px;
    }

    #hero {
        grid-column: 1/5;
        grid-row: 1/2;
    }

    #news_release {
        grid-column: 1/5;
        grid-row: 2/3;
    }

    #spotlights{
        grid-column: 1/5;
        grid-row: 3/4; 
        flex-direction: row; 
         
    }

    .spotlight01 {
        width: 100%;
    }

    .spotlight02 {
        width: 100%;
    }

    #join {
        background-color: gainsboro;
        border-style: ridge;
        height: 150px;
        display:block;
        grid-column: 1/5;
        grid-row: 4/5;
    }

    #event {
        grid-column: 1/4;
        grid-row: 5/6;
    }

    #weather {
        grid-column: 4/5;
        grid-row: 5/6;
    }

}

