/* font-family: 'El Messiri', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather Sans', sans-serif; */

* {
	margin: 0;
	padding: 0;
    font-family: 'Raleway', sans-serif;
}

.logo_header {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}


header {
    display: flex;
    justify-content:space-around;
    height: 100px;
    background-color: #6A0136;
    text-align: center;
    align-items: center;  
}

header div a {
    width: 0px;
}

.social img {
    height: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;   
}

.social {
    width: 20px;
    justify-content: center;
    padding-top: 8px;
}

#title {
    font-family: 'Raleway', sans-serif; 
    color: aliceblue;
    justify-content: center;  
}

#title h1 {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 20px;
}

#title h3 {
    margin-left: 5px;
    justify-content: space-around;
    font-size: 10px;
}



nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #AAAAA0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: none;
    
}

nav ul.open {
    display: block;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    background: #AAAAA0;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
   
   
}

#date {
    background-color:#6A0136;
    color: aliceblue;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
    text-align: center;   
    
}

.meeting_banner{
    background-color: #EFDC14;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    display: none;
    font-family: 'Merriweather Sans', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#hero {
    grid-column: 1/1;
    position: relative;  
}

.hero-img {
    width: 100%;
    border-radius: .5rem;
    border:.2rem  double #434341;
}

#join_btn {
    position: absolute;
    font-size: 1.25rem;
    font-weight: bold;
    background: #AAAAA0;
    border:rgba(255, 255, 255, 0.5);
    box-shadow: .2rem .3rem #888888;
    border-radius: 5px;
    bottom: 1.5rem;
    right: 1.5rem;
    color: #EFDC14;
    padding: .25rem;
}

#event {
    background-color: #A52A2A;
    width: 100%;
    grid-column: 1/1;
    grid-row: 2/3;
    width: 250px;
    height: 350px;
    margin: auto;
    border-radius: 5%;
}

.oktuberfest { 
    width: 100%;
    height: 100%;
    border-radius: 5%;
    
}

#weather {
    grid-column: 1/1;
    margin: auto;
}

.weather-img {
    border-radius: .5rem;
}

#news_release {
    background-color: #AAAAA0;
    border-style: ridge;
    grid-column: 1/1;
    font-size: 16px;
    text-align: center;
    padding: .80rem;
    font-size: 12px;
    border:.2rem  double #434341;
    border-radius: .5rem;
}

#news_release h3 {
    padding: .80rem .65rem .5rem .65rem;
}
    

.spotlights {    
    grid-column: 1/1;
    grid-row: 5/6;
    display: grid;
    gap: .2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

.spotlight01 {
    background-color: gainsboro;
    grid-row: 1/2;
    border-radius: .5rem;
    height: 100%;
    padding-bottom: .5rem;
   
}

.spotlight01-img {
    margin: .65rem;
    width: 50%;
    grid-row: 1/2;
    margin-left: 6.5rem;
}

.crisis-center-address {
    font-size: .80rem;
    text-align: center;
    display: block;
    align-content: center;
    grid-row: 1/2;
}


.spotlight02 {
    display: inline;
    height: 100%;
    grid-row: 2/3;
    background-color: gainsboro;
    border-radius: .5rem;
    padding-top: .5rem;
   
}

.spotlight02-img {
    margin-left: 6.5rem;
    width: 50%;
    
}

.library-rexburg {
    font-size: .80rem;
    text-align: center;
    display: block;
    align-content: center;
    padding-bottom: .2rem;
}

.spotlight03 {
    display: none;
    background-color: gainsboro;
}

.spotlight03-img {
    margin: .65rem;
    width: 90%;
    
}

.romance-theater {
    font-size: .80rem;
    text-align: center;
    display: block;
    align-content: center;
}

.join {
   display: none;
   position: relative;
   background-color: gainsboro;
   text-align: center;
   border-radius: .5rem;
}



#join_us_btn {
    position: absolute;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    bottom: 1rem;
    left: 10rem;
    right: 10rem;
    font-size: 1.35rem;
    background: #AAAAA0;
    border:rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px #888888;
    border-radius: 5px;
    font-weight: bold;
    color: #373735;
}


footer {
    display: flex;
    background-color: #6A0136;
    text-align: center;
    color:aliceblue;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

#address h3 {
    margin-bottom: 20px;
}

#address h4 {
    font-size: 10px;
    font-family: 'Merriweather Sans', sans-serif; 
}

 #contact_info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 10px;
 }

 #wdd230_info {
    font-size: 10px;
    margin-top: 5px;;
 }

.logo_footer {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80px;
    border-radius: 50%;
}

.img_map {
    width: 25px;
    height: 25px;
    display: inline;
    margin-top: 5px;
}


