/* font-family: 'Cinzel', serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif; */


* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F3F2F1;
}

#left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel', serif; 
}

#left-side a {
    text-decoration: none;
    color: #454545;
    padding: 5px;
}

#left-side a:hover {
    background-color:  #4F6D7A;
    color: white;
}

#right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-side a {
    text-decoration: none;
    color: #454545;
    padding: 5px;
}

#right-side a:hover {
    background-color: #5B7B7A;
    color: white;    
}

header {
    display: flex;
    flex-direction: column;
    background-color: #D8BCB6;
    font-family: 'Cinzel', serif; 
    font-size: 20px;
}

header a {
    order: -1;
    align-self: center;
}

.logo {
    width: 15rem;
    background-color: #F3F2F1;
    margin-top: 8px;
    padding-left: 2px;
    padding-right: 2.25px;
}

#main-content {
    color: #454545;
    margin-top: 3rem;
    margin-bottom: 5.25rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#site-title h1 {
    color: #454545;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

footer {
    background-color: #D8BCB6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img{
    width: 2rem;
}

#main-audience {
    color: #454545;
    margin-top: 3rem;
    margin-bottom: 5.25rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#site-purpose {
    margin-bottom: 1.5rem;
}

#site-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#site-map img:nth-child(2) {
    width: 40%;
}

#site-map img:nth-child(3) {
    width: 40%;
}

#site-map img{
    width: 30%;
    margin-top: 2rem;
}

#main-colors {
    color: #454545;
    margin-top: 3rem;
    margin-bottom: 5.25rem;
    margin-left: 10%;
    font-size: 20px;
}

#main-colors p {
    margin: 5%;
}

#main-colors h2 {
    margin: 5%;
    font-size: 1.75rem;
}

#main-colors p:nth-child(2) {
    background-color: #F3F2F1;
}

#main-colors p:nth-child(3) {
    background-color: #D8BCB6;
}

#main-colors p:nth-child(4) {
    background-color: #905C4C;
}

#main-colors p:nth-child(5) {
    background-color: #4F6D7A;
}

#main-typography {
    color: #454545;
    margin-top: 3rem;
    margin-bottom: 5.25rem;
    margin-left: 10%;
    font-size: 20px;
}

#main-typography p {
    margin: 5%;
}

#main-typography h2 {
    margin: 5%;
    font-size: 1.75rem;
}

#main-typography p:nth-child(2) {
    font-family: 'Cinzel', serif;
}

#main-typography p:nth-child(3) {
    font-family: 'Playfair Display', serif;
}

#main-typography p:nth-child(4) {
    font-family: 'Raleway', sans-serif;
}


@media only screen and (min-width: 515px) {
    header {
        flex-direction: row;
        justify-content: space-around;
    }

    header a {
        order: 0;
    }

    #left-side {
        margin-top: 0.75rem;
    }

    #right-side {
        margin-top: 0.75rem;
    }

    #site-map {
        flex-direction:column;
        align-items: center;
    }

    #main-content {
        margin-bottom: 16rem;
    }
    
    #main-audience {
        margin-bottom: 13rem;
    }

    #main-colors {
        margin-bottom: 13rem;
    }

    #main-typography {
        margin-bottom: 13rem;
    }


}

@media only screen and (min-width: 830px) {
    header {
        display: flex;
        font-size: 25px;
    }

    #left-side {
        display: flex;
        flex-direction: row;
        gap: 3em;
    }

    #right-side {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    #main-content {
        margin-bottom: 18rem;
    }

    #site-map {
        flex-direction: row;
        align-items:unset;
    }

    #main-audience {
        margin-bottom: 16rem;
    }

    #main-colors {
        margin-bottom: 16rem;
        font-size: 24px;
    }

    #main-typography {
        margin-bottom: 16rem;
        font-size: 24px;
    }
}